.success {
    min-height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
    background: $backGroundPrimary;
    main {
        @extend %flex;  
        flex-direction: column;
        padding: 60px 24px;
        img {
            @extend %flex;  
            width: 100%;
            padding: 40px 0;
        }
        .success-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            form {
                max-width: 448px;
                height: auto;
                width: 100%;
                display: grid;
                padding: 16px 32px;
                border-radius: 8px;
                color: $secondaryColor;
                border: none;
                z-index: 1;
                box-shadow: $boxShadow;
                background: $white;
                margin-bottom: 28px;
                img {
                    @extend %flex;  
                    width: 10%;
                    padding: 32px 0;
                    margin-left: 10rem;
                    @media screen and (max-width: 480px) {
                        margin-left: 8rem;
                    }
                    @media screen and (max-width: 375px) {
                        margin-left: 6.8rem;
                    }
                }
                h2 {
                    color: $dark;
                    margin-top: 10px;
                    margin-bottom: 8px;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 24px;
                    @extend %flex;  
                }
                h4 {
                    @extend %flex;  
                    @extend %textVariationOne;
                    color: $grey;
                    margin-bottom: 32px;
                    text-align: center;
                }
                input {
                    @extend %inputOne;
                    margin-bottom: 32px;
                }
                p {
                    @extend %flex;  
                    @extend %textVariationOne;
                    color: $grey;
                    margin-bottom: 32px;
                }
                button {
                    @extend %inputTwo;
                    @extend %textVariationThree;
                    margin-bottom: 32px;
                 .link {
                    color: $white;
                 }
                }
            }
        }
       
    }
}