
.side-menu {
  padding: 5px 20px;
}

.side-menu .top-section .logo {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
}

.side-menu .top-section .logo img{
  max-width: 100%;
  max-height: 100%;
}

.side-menu .top-section {
  position: relative;
}
.deempay-title {
  font-size: 17px;
  color: #000;
  margin-left: 0px;
  padding-top: 0px;
}
.links {
  text-decoration: none;
  color: #002766;
}

.deem-Pay{
  position: absolute;
  top: 10px;
  left: 45px;
  color: #333333;
  line-height: 26px;
  font-weight: 600;
  font-size: 20px;
}


.top-section .toggle-menu-btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.side-menu .main-menu .menu-item {
  text-decoration: none;
  font-size: 14px;
  color: #002766;
  display: block;
  font-weight: 500;
}

.topAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}

.side-menu .main-menu .menu-item .user-logo {
  display: inline-block;
  line-height: 30px;
  text-align: center;
}

.downicon {
  font-size: 10px;
  padding-left: 70px;
  padding-top: 5px;
  position: relative;
}

.merchant.active {
  background-color: #CCDFFF;
  height: calc(5.8vh - 1px);
  border-radius: 7px;
}
.merchantItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 7px;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
}

.sidebarIcon{
  padding-right: 7px;
}
 
.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 4px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  align-items: center;
  border-radius: 8px;
  color: #002766;
}

.sidebarListItem:hover {
  background-color: #1A71FF;
  height: calc(5.0vh - 1px);
  color: #FFFFFF;
}

.subListItem {
  padding: 4px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  align-items: center;
  border-radius: 6px;
  color: #002766;
}

.subListItem:hover {
  background-color: #1A71FF;
  height: calc(4.7vh - 1px);
  color: #FFFFFF;
}

.downIcon {
  font-size: 10px;
  font-weight: 500;
  padding-left: 35px;
}

.sub-menu {
  margin-left: 20px;
  border-color: 1px solid #000;
  box-sizing: border-box;
  padding-left: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-in;
}

.sub-menu.active {
  max-height: 200px;
}

.sub-menu a{
  display: block;
  margin: 5px 0px;
}

.sidebarMenu .sidebarList span{
  display: inline-block;
  line-height: 30px;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.sideb-menu.inactive .sidebarMenu .sidebarList span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
 
.topbarIcon{
  font-size: 8px;
  color: #000;
  padding-left: 5px;
  padding-top: 10px;
}
.topbar {
  
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom-color: #D9D9D9;
  border-bottom-style: solid;
  margin-left: 284px;
  border-bottom-width: 1px;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.topRight{
    display: flex;
    align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #000000;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.topNotification {
  font-size: 20px;

}
.topIcon {
  font-size: 10px;
}

 
 
 
 
/*
 .side {
      background-color: #F0F6FF;
  }

 
  .log {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .sidebar {
    flex: 1;
    height: calc(106vh - 50px);
    background-color: #F0F6FF;
    position: sticky;
    top: 0px;
  }
  
  .sidebarWrapper {
    padding: 20px;
    
  }
  
  
  .sidebarTitle {
    
    padding-top: 24px;
    padding-left: 10px;
    font-weight: 400;
  }
  
  .deempayTitle {
    font-size: 17px;
    color: #000;
    margin-left: -10px;
    padding-top: 10px;
  }

 
  
  .deempay {
    display: flex;
    align-items: center;
  }
  .sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 6px;
    color: #002766;
    padding-bottom: 13px;
  }



.downIon {
  font-size: 10px;
  font-weight: 500;
  padding-left: 19px;
  padding-top: 5px;
  position: relative;
  color: #002766;
}
 
 

  

  
  .downIon:hover, .downIcon:hover {
    color: #FFFFFF;
  }
  
 
  
*/