.chart {
    margin: 20px;
    padding: 20px;
  }
  
  .chartTitle {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  .chartboundary {
    top: 440px;
    position: absolute;
  }

  
  .chart-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
  }