.homeSection {
    padding: 14px 40px;
}

.overview {
    position: absolute;
    top: 65px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
}


.due-date {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95px;
    height: 32px;
    background-color: #f2f2f2;
    border-radius: 4px;
    color: #000000;
  }

.numberDays{
    position: absolute;
    width: 46px;
    top: 65px;
    left: 455px;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

.dateIcon {
    position: absolute;
    top: 12px;
    left: 0px;
    right:70px;
    color: #002766;
    font-size: 12px;
}

.drpIcon {
    position: absolute;
    top: 8px;
    left: 50px;
    right:0px;
    color: #000000;
    font-size: 10px;
}

.months {
    position: absolute;
    width: 116px;
    height: 40px;
    left: 1430px;
    top: 65px;
    background: #f2f2f2;
    border-radius: 8px;
}


.numberMonths {
    position: absolute;
    width: 46px;
    top: 10px;
    left: 45px;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.featuredItem {
    position: absolute;
    top: 155px;
    left: 325px;
    width: 585px;
    height: 232px;
    background-color: #1A71FF;
    border-radius: 16px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    color: #ffffff;
  }

  .featuredTitle{
     position: absolute;
     line-height: 24px;
     font-size: 22px;
     font-weight: 500;
     left: 240px;
     top: 30px;
}

.featuredMoney{
    position: absolute;
    line-height: 32px;
    font-size: 24px;
    font-weight: 500;
    left: 230px;
    top: 70px;
}

.featuredRate {
    position: absolute;
    top: 125px;
    left: 250px;
    width: 72px;
    height: 40px;
    background-color: #ffffFF;
    border-radius: 12px;
    color: #313131;
  }
 
  .featuredMoneyRate{
    display: flex;
    position: absolute;
    align-items: center;
    top: 8px;
    left: 18px;
}

.featuredleft {
    font-size: 14px;
    top: 185px;
    position: absolute;
    line-height: 16px;
    left: 40px;
}

.featuredright {
    font-size: 14px;
    top: 185px;
    position: absolute;
    line-height: 16px;
    left: 420px;
}

.featuredItem2 {
    position: absolute;
    top: 155px;
    left: 960px;
    width: 585px;
    height: 232px;
    background-color: #ffffFF;
    border-radius: 16px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #efefef;
    color: #000000;
  }

  .transactionTitle{
    position: absolute;
    line-height: 24px;
    font-size: 22px;
    font-weight: 600;
    left: 60px;
    top: 30px;
}

.featuredBox {
    position: absolute;
    top: 90px;
    left: 30px;
    width: 277px;
    height: 80px;
    background-color: #f5f9ff;
    border-radius: 16px;
    color: #000000;
  }

  .transactionpaid{
    position: absolute;
    line-height: 16px;
    font-size: 14px;
    left: 30px;
    top: 20px;
}

.featuredAgo{
    position: absolute;
    line-height: 16px;
    font-size: 14px;
    color: #646464;
    left: 30px;
    top: 45px;
}

.featuredwallet {
    position: absolute;
    top: 20px;
    left: 200px;
    width: 40px;
    height: 40px;
    background-color: #1a71ff;
    border-radius: 20px;
    color: #fff;
    align-items: center;
  }

  .walletIcon{
    position: absolute;
    font-size: 18px;
    left: 10px;
    top: 12px;
}

.featureddigit{
    position: absolute;
    line-height: 68px;
    font-size: 56px;
    color: #002766;
    left: 390px;
    top: 90px;
}

.verticalLine {
  border-left: 1px solid #d7d7d7;
  height: 80px;
  left: 340px;
  top: 88px;
  position: absolute;
}
