.list11 {
    background-color: #FFFFFF;
    height: 38px;
    color: #000000;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 2.5px;
  }

  
.bankSection {
    background-color: #ffffff;
    top: 220px;
    width: 519px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 420px;
    position: absolute;
    box-shadow: 0px 0px 32px rgba(179, 179, 179, 0.25);
}



.nxt-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: absolute;
    font-size: 16px;
    left: 88px;
    top: 332px;
    width: 343px;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #1A71FF;
    border: none;
}

.dropdown {
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    padding-left: 310px;
    top: 38px;
    
  }

  .personalDetails {
    position: absolute;
    top: 136px;
    width: 463px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}
  
  
.bank {
    position: absolute;
    left: 17%;
    right: 70.85%;
    bottom: 79.01%;
    top: 5%;
    font-size: 14px;
    line-height: 17px;
    color: #595959;
}

.Bank {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    top: 30.86%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 311px;
    border-radius: 8px;
    height: 56px;
    border: none;
    background: #EFEFEF;
    color: #000000;
}

  
.accountNumber {
    position: absolute;
    left: 17%;
    right: 64.43%;
    bottom: 79.01%;
    width: 343px;
    top: 28%;
    font-size: 14px;
    line-height: 17px;
    color: #595959;
}

.account-Number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    top: 32.05%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 311px;
    border-radius: 8px;
    height: 53px;
    border: none;
    background: #EFEFEF;
    color: #000000;
}

  
.accountName {
    position: absolute;
    left: 17%;
    right: 71.43%;
    bottom: 79.01%;
    top: 51%;
    width: 100px;
    font-size: 14px;
    line-height: 17px;
    color: #595959;
}

.account-Name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    top: 30.86%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 311px;
    border-radius: 8px;
    height: 56px;
    border: none;
    background: #EFEFEF;
    color: #000000;
}




